/* Default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
:root {
  height: 100%;
  user-select: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --yellow: #f0dc4e;
}

body {
  background: #000;
  color: #fff;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.container h1 {
  font: 800 50px/1.2 sans-serif;
  margin: 10px 0;
}

.container h1 img {
  width: 40px;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.options-bar {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.options {
  width: 330px;
  height: 330px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.options-bar button {
  margin: 10px 0;
  background: var(--yellow);
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.option {
  border-radius: 5px;
  border: var(--yellow) solid 1px;
  color: var(--yellow);
  display: grid;
  place-items: center;
  font: 30px sans-serif;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.option:hover {
  background: var(--yellow);
  color: #000;
}

.game__container {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.box {
  border: var(--yellow) solid 1px;
  width: 180px;
  height: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.inner-box {
  border: #525252 solid 1px;
  font-size: 24px;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: grid;
  place-items: center;
}

.inner-box:not(.original) {
  cursor: pointer;
}

.selected {
  background: rgba(82, 82, 82, 0.4);
}

.curr {
  background: rgba(82, 82, 82, 0.8);
}

.btns {
  display: flex;
  gap: 10px;
}

.btns button {
  width: 100%;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages h2 {
  margin: 10px 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .container h1 {
    font-size: 40px;
  }

  .box {
    width: 120px;
    height: 120px;
  }

  .inner-box {
    font-size: 14px;
  }

  .messages h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .container h1 {
    font-size: 25px;
  }

  .container h1 img {
    width: 20px;
  }

  .box {
    width: 90px;
    height: 90px;
  }

  .inner-box {
    font-size: 12px;
  }

  .messages h2 {
    font-size: 1.2rem;
  }
}
